@model DoubltTravel.Data.Models.Country

<div>
    <div>@Model.Code</div>
    <div>@Model.Name</div>
    <div>@Model.AssistenceInfo?.Email</div>
    <div>@Model.AssistenceInfo?.Fax</div>
    <div>@Model.AssistenceInfo?.Globe</div>
    <div>@Model.AssistenceInfo?.Phone</div>
    <div>@Model.AssistenceInfo?.Title</div>
    <div>@Model.CountryInfo?.Access</div>
    <div>@Model.CountryInfo?.Attorney</div>
    <div>@Model.CountryInfo?.GeneralInformation</div>
    <div>@Model.CountryInfo?.Mediaton</div>
    <div>@Model.CountryInfo?.Return</div>
</div>